.js-inline-picker {
  .picker-picked {
    color: #3957bb !important;
  }
}

.setting-item {
  --inner-padding-bottom: 0.5rem;
  --inner-padding-top: 0.5rem;
  .title {
    font-weight: bold;
  }
  .content {
    text-align: right;
    padding-right: 10px;
  }
}
