<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'noti_and_lang_setting' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>{{'notification_setting' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item [routerLink]="['/notification']">
          {{'exercise_schedule_notification' | translate}}
          <ion-icon slot="end" name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{'language_setting' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="currLang" (ionChange)="setLanguage()">
        <ion-item>
          <ion-label>한국어</ion-label>
          <ion-radio value="ko"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>English</ion-label>
          <ion-radio value="en"></ion-radio>
        </ion-item>
        </ion-radio-group>
    </ion-card-content>
  </ion-card>
</ion-content>
