.icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.icon-alarm {
  background-image: url('../../assets/icon/alarm.svg');
}
.icon-book {
  background-image: url('../../assets/icon/book.svg');
}
.icon-calendar {
  background-image: url('../../assets/icon/calendar.svg');
}
.icon-contact_information {
  background-image: url('../../assets/icon/identification.svg');
}
.icon-content {
  background-image: url('../../assets/icon/content.svg');
}
.icon-jogging {
  background-image: url('../../assets/icon/jogging.svg');
}
.icon-search {
  background-image: url('../../assets/icon/search.svg');
}
.icon-translate {
  background-image: url('../../assets/icon/translate.svg');
}

.icon-battery-30 {
  background-image: url('../../assets/icon/battery-30.svg');
}

.icon-battery-50 {
  background-image: url('../../assets/icon/battery-50.svg');
}

.icon-battery-80 {
  background-image: url('../../assets/icon/battery-80.svg');
}

.icon-battery-100 {
  background-image: url('../../assets/icon/battery-100.svg');
}

.icon-heartbeat {
  background-image: url('../../assets/icon/heartbeat.svg');
}

.icon-schedule {
  background-image: url('../../assets/icon/schedule.svg');
}

.icon-clock {
  background-image: url('../../assets/icon/clock.svg');
}

.icon-bluetooth {
  background-image: url('../../assets/icon/bluetooth.svg');
}
