.icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.icon-alarm {
  background-image: url('../../assets/icon/ringing.png');
}
.icon-info {
  background-image: url('../../assets/icon/info.png');
}
.icon-reserve {
  background-image: url('../../assets/icon/booked.png');
}
.icon-personal {
  background-image: url('../../assets/icon/personal.png');
}
.icon-setting {
  background-image: url('../../assets/icon/setting.png');
}
.icon-running {
  background-image: url('../../assets/icon/running.png');
}
.icon-records {
  background-image: url('../../assets/icon/records.png');
}
.icon-translate {
  background-image: url('../../assets/icon/translation.png');
}

.icon-battery-30 {
  background-image: url('../../assets/icon/battery-30.svg');
}

.icon-battery-50 {
  background-image: url('../../assets/icon/battery-50.svg');
}

.icon-battery-80 {
  background-image: url('../../assets/icon/battery-80.svg');
}

.icon-battery-100 {
  background-image: url('../../assets/icon/battery-100.svg');
}

.icon-heartbeat {
  background-image: url('../../assets/icon/heartbeat.svg');
}

.icon-schedule {
  background-image: url('../../assets/icon/schedule.svg');
}

.icon-clock {
  background-image: url('../../assets/icon/clock.svg');
}

.icon-bluetooth {
  background-image: url('../../assets/icon/bluetooth.svg');
}
