<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'notification_setting' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-item class="setting-item">
      <ion-col>
        <p class="title">
          {{'notification_time' | translate}}
        </p>
        <div class="js-inline-picker"></div>
      </ion-col>
    </ion-item>
    <ion-item class="setting-item" (click)="showWeekDayModal()">
      <ion-label class="title">
        {{'notification_weekdays' | translate}}
      </ion-label>
      <ion-label color="primary" class="content">
        <ng-container *ngFor="let weekday of repeatWeekday; index as i">
          {{weekday.text}}
          <span *ngIf="i < repeatWeekday.length - 1">,</span>
        </ng-container>
        {{'every' | translate}}</ion-label>
    </ion-item>
    <ion-item class="setting-item">
      <ion-label class="title">
        {{'notification_sound' | translate}}
      </ion-label>
      <ion-toggle slot="end" mode="ios" [(ngModel)]="notificationSound" (ionChange)="toggleSound($event)"></ion-toggle>
    </ion-item>
    <ion-item class="setting-item">
      <ion-label class="title">
        {{'notification_vibration' | translate}}
      </ion-label>
      <ion-toggle slot="end" mode="ios" [(ngModel)]="notificationVibration" (ionChange)="toggleVibration($event)"></ion-toggle>
    </ion-item>
    <ion-item class="setting-item" (click)="openFileManager()">
      <ion-label class="title">
        {{'notification_music' | translate}}
      </ion-label>
      <ion-label color="primary" class="content">{{notificationMusic | fileName}}</ion-label>
    </ion-item>
  </ion-grid>
</ion-content>
