.connect-modal   {
  --backdrop-opacity: 0.8 !important;
  .modal-wrapper {
    --height: 30%;
    --width: 90%;
    position: absolute;
  }
  .wrap {
    padding: 16px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

