<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'reservation' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title class="calendar-title">{{calendarTitle}}</ion-title>
  <calendar [monthviewEventDetailTemplate]="template" [eventSource]="eventSource" [currentDate]="calendar.currentDate"
    [dateFormatter]="calendar.dateFormatter" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" [step]="calendar.step">
  </calendar>

  <ng-template #template>
    <ion-list class="event-detail-container" has-bouncing="false" overflow-scroll="false">
      <ng-container *ngIf="selectedDate?.events.length > 0; else noEventTemplate">
        <ion-item *ngFor="let event of selectedDate?.events">
          <div style="display: flex; flex: 1">
            <div style="display: flex; flex-direction: row; flex: 9; align-items: center;">
              <span *ngIf="!event.allDay" class="monthview-eventdetail-timecolumn">{{event.startTime|date: 'HH:mm'}} -
                {{event.endTime|date:
                'HH:mm'}}
              </span>

              <span *ngIf="event.allDay" class="monthview-eventdetail-timecolumn">All day</span>
              <span class="event-detail"> | {{event.title}}</span>
            </div>
            <div style="display: flex; flex: 1; align-items: flex-end">
              <!-- 예약했음/예약불가 -->
              <ng-container *ngIf="!event.data?.reservable; else elseTemplate">
                <ion-button
                  [disabled]="!this.checkCanJoinChattingRoom(event.data?.from, event.data?.to) ||
                              (!event.data.reservation.approvalResult ||
                              (event.data.reservation.cancelledDate !== undefined && !!event.data.reservation.cancelledDate))"
                  (click)="joinChat(event.data?.reservation)">

                  <ng-container *ngIf="event.data?.reservation.approvalResult; else unableTemplate">
                    <!-- 예약취소 -->
                    <ng-container *ngIf="event.data.reservation.cancelledDate; else unableButNotCanceled">
                      {{'reservation_canceled' | translate}}
                    </ng-container>

                    <!-- 예약허가 -->
                    <ng-template #unableButNotCanceled>
                      {{'join_chatting_room' | translate}}
                    </ng-template>
                  </ng-container>

                  <!-- 예약불가/운동불가 -->
                  <ng-template #unableTemplate>
                    <!-- 예약거부 -->
                    <ng-container *ngIf="event.data?.reservation.approvalResult === false;">
                      {{'unable_to_reserve' | translate}}
                    </ng-container>
                    <!-- 예약 미확인 -->
                    <ng-container *ngIf="event.data?.reservation.approvalResult === undefined;">
                      {{'reservation_not_confirmed' | translate}}
                    </ng-container>
                  </ng-template>
                </ion-button>
              </ng-container>

              <!-- 예약가능 -->
              <ng-template #elseTemplate>
                <ion-button (click)="onEventSelected(event)">
                  <div>
                    <span>{{'reserve' | translate}}</span>
                  </div>
                </ion-button>
              </ng-template>
            </div>
          </div>
        </ion-item>
      </ng-container>

      <ng-template #noEventTemplate>
        <ion-item>
          <div class="no-events-label">{{'no_reservation' | translate}}</div>
        </ion-item>
      </ng-template>

    </ion-list>
  </ng-template>
</ion-content>
