<div class="wrap">
  <div class="content">
    <ion-card class="card">
      <ion-title>{{'forgot_password' | translate}}</ion-title>
      <form [formGroup]="forgotPwdForm" novalidate *ngIf="forgotPwdForm">
        <ion-item class="form-group">
          <ion-label for="email" position="fixed">{{'email' | translate}}</ion-label>
          <ion-input type="text" formControlName="email" class="form-control" id="email"></ion-input>
        </ion-item>
        <div *ngIf="email.invalid && email.touched">
          <p *ngIf="email.errors.required">{{'please_enter_email' | translate}}</p>
          <p *ngIf="email.errors.email">{{'email_format_not_correct' |translate}}</p>
        </div>
      </form>

      <ion-button class="find-pwd-btn" expand="block" [disabled]="!forgotPwdForm.valid" (click)="resetPassword()">{{'reset_password' | translate}}</ion-button>
      <div class="back-to-login" (click)="backToLogin()">
        <a >{{'backToLogin' | translate}}</a>
      </div>
    </ion-card>
  </div>
</div>
