<ion-header>
  <ng-container *ngIf="(isConnecting$ | async) && batteryPower; else elseTemplate">
    <div class="battery-bar">
      <ng-container *ngIf="batteryPower > 80">
        <i class="icon icon-battery-100"></i>
      </ng-container>
      <ng-container *ngIf="batteryPower > 50 && batteryPower <= 80">
        <i class="icon icon-battery-80"></i>
      </ng-container>
      <ng-container *ngIf="batteryPower > 30 && batteryPower <=50">
        <i class="icon icon-battery-50"></i>
      </ng-container>
      <ng-container *ngIf="batteryPower <= 30">
        <i class="icon icon-battery-30"></i>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="bluetooth-bar">
      <button class="bluetooth-btn" (click)="presentIsConnectModal()">
        <i class="icon icon-bluetooth"></i>
        {{'bluetooth' |  translate}}
      </button>
    </div>
  </ng-template>
</ion-header>

<ion-content>
  <div class="wrap">

    <ul class="function-list">
      <li class="function">
        <a class="function-btn" [routerLink]="['/menu/exercise-setting']">
          <i class="icon icon-setting"></i>
          <p class="function-name">{{ 'exercise_setting' | translate }}</p>
        </a>
      </li>
      <li class="function">
        <a class="function-btn" [routerLink]="['/menu/records']">
          <i class="icon icon-records"></i>
          <p class="function-name">{{ 'exercise_records' | translate }}</p>
        </a>
      </li>

      <li class="function">
        <a class="function-btn" [routerLink]="['/menu/reservation']">
          <i class="icon icon-reserve"></i>
          <p class="function-name">{{ 'reservation' | translate }}</p>
        </a>
      </li>
      <li class="function">
        <a
          class="function-btn function-btn_2icon"
          [routerLink]="['/menu/noti-lang']"
        >
          <div>
            <i class="icon icon-alarm mr-8"></i>
            <i class="icon icon-translate"></i>
          </div>
          <p class="function-name">{{ 'noti_and_lang_setting' | translate }}</p>
        </a>
      </li>
      <li
        class="function"
        [routerLink]="['/menu/personal-info-setting']"
      >
        <a class="function-btn">
          <i class="icon icon-personal"></i>
          <p class="function-name">{{ 'personal_info_setting' | translate }}</p>
        </a>
      </li>
      <li class="function" [routerLink]="['/menu/manual']">
        <a class="function-btn">
          <i class="icon icon-info"></i>
          <p class="function-name">{{ 'app_manual' | translate }}</p>
        </a>
      </li>
    </ul>


    <div class="bar-button">
      <a class="function-btn" (click)="routeToRealtimeExercise()">
        <!-- <i class="icon icon-running"></i> -->
        <p class="function-name">{{ 'real_time_exercise' | translate }}</p>
      </a>
    </div>
  </div>
</ion-content>
